<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="00만의 셀렉샵">
    <meta property="og:description" content="관심상품을 선택하고, 최저가 알림을 확인해보세요!">
    <meta property="og:image" content="images/og_selectshop.png">
    <link href="https://fonts.googleapis.com/css2?family=family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<!--    <script src="basic.js"></script>-->
    <script>
        $.ajax({
            type: "POST",
            url: `/user/userinfo`,
            contentType: "application/json",
            success: function (response) {
                const username = response.username;
                const nickname = response.nickname;
                if (!username) {
                    window.location.href = '/user/loginView';
                }

                $('#username').text(username);
                $('#nickname').text(nickname);

                if (isAdmin) {
                    showProduct(true);
                } else {
                    showProduct();
                }
            },
            error: function () {
                window.location.href = '/user/loginView';
            }
        })
    </script>
    <title>나만의 셀렉샵</title>
</head>
<body>
<div class="header" style="position:relative;">
    <div id="header-title-login-user">
        <span id="username"></span> 님의
<!--        <span id="nickname"></span> 환영합니다.-->
    </div>
    <div id="header-title-select-shop">
        Select Shop <span id="nickname"></span>
    </div>

    <form id="my_form" method="post" action="/user/logout">
        <a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">로그아웃</a>
    </form>
</div>
</body>
</html>